// src/styles/main.scss

// Usa el archivo variables.scss
@use "variables" as *;

// Directivas de Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: $space-lg; // Usando la variable
  text-align: center;
}

.logo {
  height: 6em;
  padding: $space-sm;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em $primary-color);
  }

  &.react:hover {
    filter: drop-shadow(0 0 2em #61dafb);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) {
    .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
}

.card {
  padding: $space-md;
}

.read-the-docs {
  color: #888;
}


/* En styles/main.scss */

.three-canvas {
  width: 100%;
  height: 100%;
  display: block;
  max-width: 100%;
  max-height: 500px; /* Ajustamos el tamaño máximo */
  margin: 0 auto; /* Centrado */
}
